body {
    animation-name: transition;
    animation-duration: 3s;
    animation-iteration-count: 1;
    font-family: Arial, sans-serif;
    background-color: rosybrown;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px; /* Default max-width for tablet and desktop */
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

#message {
    margin-top: 20px;
    text-align: center;
}


@keyframes transition{
    from{color:whitesmoke;}
    to {color: black;}
}

/* Media query for phones */
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 800px;
    }
}

/* Media query for larger screens (laptops, desktops) */
@media only screen and (min-width: 1025px) {
    .container {
        max-width: 1200px;
    }
}
