<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order Search</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
<div class = "container">
<h2>Order information:</h2> 
<p id="orderinfo" name = "orderinfo"> Order item(s): {{orderinfo}}</p>
<p id="cost" name = "cost">Cost: {{cost}}</p>
<p id="branch" name = "branch">Branch: {{branch}}</p>
<p id="restaurant" name = "restuarant">Restaurant: {{restaurant}}</p>
</div>
</body>
