<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/static/style.css">
    </head>
</head>
<body>
    <div class="container">
    <h1>Order Confirmation</h1>
    <p>Thank you for your order!</p>
    <p>Order Information:</p>
    <ul>
        <li><strong>Order id:</strong>{{ order_id}}</li>
        <li><strong>Branch:</strong> {{ branch }}</li>
        <li><strong>Restaurant:</strong> {{ restaurant }}</li>
        <li><strong>Order info:</strong>{{ orderinfo }}</li>
        <li><strong>Total Cost:</strong> ${{ total_cost }}</li>
    </ul>
    </div>
    <form action ="/">
        <button type = "submit">FINISH</button>
    </form>
</body>
</html>
