<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<script>    function cardvalidation(cardnumber){
    var card_num = cardnumber;    
    var pattern = /^[0-9-]+$/;   
    var result = pattern.test(card_num); 

    if (!result)
    {
      return false;                 
    }            
    else 
    {
      return true;
    }
}

function cardnamevalidation(name){   
    var card_name = name;    
    var pattern = /^[A-Za-z ]+$/;   
    var result = pattern.test(card_name); 

    if (!result)
    {
      return false;                 
    }            
    else 
    {
      return true;
    }
}
function cvv_validation(cvv){   
    var card_cvv = cvv;    
    var pattern = /^[0-9]+$/;   
    var result = pattern.test(card_cvv); 
             
    if (!result)
    {
      return false;                 
    }            
    else 
    {
      return true;
    }
}

function validation(){
var name = document.getElementById("cardname").value;
var cardnumber = document.getElementById("cardnumber").value;
var carddate  = document.getElementById("cardexpiry").value;
var cvv = document.getElementById("cvv").value;

var check = 0;

if (cardnamevalidation(name))
{
}
else 
{
alert("Please enter a valid name ");
document.getElementById("cardname").style.border="1px solid red";
return false;
}

if (cardvalidation(cardnumber))
{
}
else
{
alert("Please enter a valid card number ");
document.getElementById("cardnumber").style.border="1px solid red";
return false;
}

if(cvv_validation(cvv))
{
return true;
}
else{
alert("Enter a valid CVV");
document.getElementById("cvv").style.border="1px solid red";
return false;
}
return false;

} 


function cardexpiry()
{

var today = new Date();
var year = today.getFullYear();
var month = today.getMonth() +1;
if (month < 10)
{
  month = "0"+month;
}
today = year+"-"+month;
document.getElementById("cardexpiry").min = today;

}


function cardnumberspaces()
{
var x = document.getElementById("cardnumber");
var index = x.value.lastIndexOf('-');
var test = x.value.substr(index + 1);
if (test.length === 4 && x.value.length<16){
 x.value = x.value + '-';

}
}

function thanks(){
alert('Thanks for the payment.');
return true;
}</script>
<body onload="cardexpiry()">
    <div class="container">
        <h1>Payment</h1>
        <form id="paymentForm" action = "/payment", method ="POST"  onsubmit="return thanks()">
        <input type="hidden" id="orderinfo" name="orderinfo" value="{{orderinfo}}">
        <input type="hidden" id="branch" name="branch" value="{{branch}}">
        <input type="hidden" id="restaurant" name="restaurant" value="{{restaurant}}">
        <input type="hidden" id="total_cost" name="total_cost" value="{{ total_cost }}">

        <div>
            <h2>Order info:</h2>
            <p id="orderinfo" name = "orderinfo">{{orderinfo}}</p>
        </div>
        <div>
            <h2>Branch:</h2> 
            <p id="Branch:" name = "branch">{{branch}}</p>

            <h2>Restaurant:</h2> 
            <p id="Restaurant" name = "restaurant">{{restaurant}}</p>

            <h2>Amount to Pay:</h2>
            <p id="total_cost" name  = "total_cost">{{total_cost}}</p>
        </div>
            Full name on card: 
            <input type="text" name="cardname" id="cardname" required /> <br/><br>
            Card number:
            <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" name="cardnumber" id="cardnumber"  maxlength="19" minlength="19" onkeyup="return cardnumberspaces()" required /> <br/><br>
            Card expiry:
            <input type="month" name="cardexpiry" placeholder="MM/YY" id="cardexpiry" required /> <br/><br>
            CVV:
            <input type="text" name="cvv" id="cvv" max="999" maxlength="3" minlength="3" required /> <br/> <br/>
            <input type="submit" id="submit" value="Confirm Payment"/>
        </form>
    </div>
    
</html>
